{% extends '__layout/main.html' %}

{% block main %}


<form action="{{BASE}}auth/login" method="post">
    <div class="col-md-10 mx-auto">
        <div class="card mx-auto" id="log-card">

            <div class="card-header">
                Logovanje
            </div>

            <div class="card-body mx-auto">

                <div class="form-group row">
                    <label for="korisnicko_ime" class="col-md-5">Korisnicko Ime</label>
                    <input type="text" class="col-md-7" name="korisnicko_ime" pattern="[A-Za-z0-9]{4,40}" id="korisnicko_ime">
                   
                </div>

                <div class="form-group row">
                        <label for="lozinka" class="col-md-5">Lozinka</label>
                        <input type="password" class="col-md-7" pattern="[A-Za-z0-9]{6,40}" name="lozinka" id="lozinka">
                </div>
            </div>
            
            <div class="card-footer">

                <button type="submit" class="btn btn-sm btn-outline-secondary float-right">Uloguj se</button>

            </div>
        </div>
    </div>
</form>



{% endblock %}